.sideBarAndContentWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1;
}
.sideBarWrapper {
  display: flex;
  flex: 1;
  // background-color: yellow;
}

.contentWrapper {
  display: flex;
  flex: 4;
}
