@use '../../../core/scss/sizes';
@use '../../../core/scss/colors';
@use '../../../core/scss/images';
.sideBarAndContentWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1;
}
.sideBarWrapper {
  display: flex;
  flex: 1;
  // background-color: yellow;
}

.contentWrapper {
  display: flex;
  flex: 4;
  background-color: colors.$background_dark;
  height: auto;
  min-height: 100vh;
}
