@use '../../../core/scss/sizes';
@use '../../../core/scss/colors';
@use '../../../core/scss/images';

.signIn {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(images.$background);
  // background-color: red;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.signInWrapper {
  width: 30vw;
  height: auto;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 6px;
  padding: sizes.$spacing24;
}

.signInTextField {
  margin-left: 10px;
  color: red;
}

.signInHeader {
  color: colors.$primary;
  font-size: 32px;
  margin-bottom: 32px;
}

.rememberWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}
