@use '../../../core/scss/sizes';
@use '../../../core/scss/colors';
@use '../../../core/scss/images';

.sideBarWrapper {
  display: flex;
  flex-direction: column;
}

.sideBarItem {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  //   background-color: red;
  padding: 16px 24px;
  // margin-bottom: 16px;
  cursor: pointer;
  // padding-left: 16px;
  // background-color: red;
}

.sideBarItemAcordition {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  //   background-color: red;
  padding: 8px 24px;
  // margin-bottom: 16px;
  cursor: pointer;
  // padding-left: 16px;
  // background-color: blueviolet;
}

.sideBarItemText {
  color: colors.$dark_text;
  font-size: 16px;
}

.selectedWrapper {
  background-color: colors.$primary_3;
}

.selectedItemName {
  font-weight: bold;
}

.sideBarItemSummary {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.sideBarItemDetail {
  width: 100%;
  box-sizing: border-box;
  padding-left: 16px;
}
