$text-primary: #007bff;
$text-secondary: #6c757d;
$text-success: #28a745;
$text-danger: #dc3545;
$text-waring: #ffc107;
$text-info: #17a2b8;

$primary: #67be23;
$background: white;
$stroke: #cbcbcb;
$light_text: #ffffff;
$dark_text: #626262;
$black: #000000;
$primary_2: #aedb8e;
$primary_3: #eef7e7;
